FLASK_ENV=development
SQLALCHEMY_DATABASE_URI=postgresql://USUÁRIO:SENHA@localhost:5432/BANCO
SECRET_KEY=suaChaveSecreta
REGISTER_KEYS=name,email,password
LOGIN_KEYS=email,password
PRODUCT_KEYS=name,price,description,category,region,latitude,longitude
CATEGORY_TYPES=Grão,Moído
REGIONS=Norte,Nordeste,Centro-Oeste,Sudeste,Sul
ORDER_KEYS=status,cart_products